<!-- 
  author: Chongyuan Xiang
 -->
<script>
$(function(){
  var pusher = new Pusher('<%= Pusher.key %>'); 
  var channel = pusher.subscribe('chat');
  channel.bind('chat', function(data) {
    $('.chat-dialog').append(data.content + '<br>');
  });
});
</script>
<% provide(:title, "Chatroom") %>
<div class="main-container">
  <h1> Let's chat! </h1>
  <div class="chat-main">
    <div class="chat-dialog">
    </div>
    <%= form_for(:message, url: messages_path, remote: true) do |f| %>
      <%= f.text_area(:content, :class => 'chat-textarea', :placeholder => 'Enter your message here!') %> <br>
      <%= f.submit "Enter", class: "btn  btn-primary" %>
    <% end %>
  </div>
</div>