<div id="cabals_area">
	<table id="cabals_table">
		<tr class="cabals_table_heading">
      <th>Cabal Name</th>
      <th>Members</th>
      <th>For date</th>
    </tr>
    <% @cabals.each do |c| %>
      <tr class="cabals_table_row">
        <td><%= link_to c.name, cabal_path(c) %>
        <td><%= c.members_summary %></td>
        <td><%= c.activity_date%></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to "Create new cabal", new_cabal_path %>
    