<%= render "mapjs.js" %>

<div id="cabal_container">

    <div id="map_area">
        <div id="map-canvas">
        </div>
    </div>

    <div id="agenda_area">
        <%= render "agenda" %>
    </div>

    <!--
    <div id="chat_area">
        <%= render "chat" %>
    </div>

    <div id="member_area">Members<br />
        <%= render "members" %>
    </div>
    -->
</div>


