<% provide(:title, "Cabal") %>
<%= render "mapjs.js" %>

<div id="cabal_container">

    <div id="map_area">
        <div id="map-canvas">
        </div>
    </div>

    <div class="action-buttons">
        <a href="#"><div id="gochat">CHAT</div></a>
            <a href="#"><div id="gomembers">MEMBERS</div></a>
    </div>

    <div id="agenda_area">
        <%= render "agenda" %>
    </div>

    <div id="chat_area">
        <%= render "chat" %>
    </div>

    <div id="member_area"><strong>Members: </strong>
        <%= render "members" %>
    </div>

</div>


