// Place all the styles related to the Cabals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}

.agendaitem {
    cursor: pointer;
}

.submissionDIV {
    padding: 20px;
    padding-top:10px;
    height:20%;
}

.memberAreaDIV{
    padding:10px;
}

#memberslist{
    margin-top:10px;
    margin-bottom:10px;
}


#searchErrorsDIV{
    margin-top:10px;
}

.searchErrors {
    //background-color:#F5F5F5;
    color: #DB8888;
    padding: 2px 4px;
    font-size:0.9em;
}

.gmnoprint img { 
    max-width: none; 
}


.inputWrap{
    width: 180px;
}

.agendamapbtn{
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #B0B0B0;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0px #919191;
    -moz-box-shadow: 0 3px 0px #919191;
    box-shadow: 0 3px 0px #919191;
}

.agendamapbtn:hover{
    color: #fff;
    background-color: #919191;
    text-decoration: none;
}

.timedropdown{
    width: 110px;
}

.amdropdown{
    width: 60px;
    margin-left: 10px;
    float:right;
}

.agenda-addbtn{
    padding: 4px 12px;
    margin-right:4px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #9E7E5C;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0px #876A4C;
    -moz-box-shadow: 0 3px 0px #876A4C;
    box-shadow: 0 3px 0px #876A4C;
}

.agenda-addbtn:hover{
    color: #fff;
    background-color: #947554;
    text-decoration: none;
}

.agendalabel{
    color: #363636;
    font-size: 12px;
    font-weight: 700;
}

.agendalist{
    background-color: #F7F7F7;
    border-bottom: 1px solid #DBDBDB;
    padding:10px;
}

.checkBoxDIV{
    padding: 10px 20px;
}

#gomembers{
    width: 100px;
    float:left;
    padding: 10px 10px;
    text-align: centerB8B8B8;
    display: inline-block;
    background-color: #BDA58E;
    color: #fff;
    font-weight: 700;
    border-radius: 0px 5px 5px 0px;
    -webkit-box-shadow: 0 3px 0px #A8937E;
    -moz-box-shadow: 0 3px 0px #A8937E;
    box-shadow: 0 3px 0px #A8937E;
    cursor: pointer;
}

#gomembers:hover{
    background-color: #998673;
    text-decoration: none;
    color: #fff;
}

#gochat{
    width: 100px;
    float:left;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    background-color: #B0B4BF;
    color: #fff;
    font-weight: 700;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: 0 3px 0px #939AAD;
    -moz-box-shadow: 0 3px 0px #939AAD;
    box-shadow: 0 3px 0px #939AAD;
    cursor: pointer;
}

#gochat:hover{
    background-color: #A4ABBD;
    text-decoration: none;
    color: #fff;
}

#new_cabal_form{
  display:block;
  margin: 0 auto;
  width: 600px;
  text-align: left;
}

.addmemberresponse{
    color:#326085;
}

.routeok{
    color: #4EAD4E;
}

.routebad{
    color: #CC5454;
}

.popover-content {
    color: #000;
}
