// Place all the styles related to the Cabals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
max-width: none;
}

.agendalist {
    cursor: pointer;
}

.submissionDIV {
    padding: 20px;
}

.searchErrors {
    background-color:#FFCCCC;
    color: #E30000;
    padding: 2px 4px;
}

.gmnoprint img { 
    max-width: none; 
}


.inputWrap{
    width: 180px;
}

.agendamapbtn{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #B0B0B0;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0px #919191;
    -moz-box-shadow: 0 3px 0px #919191;
    box-shadow: 0 3px 0px #919191;
}

.agendamapbtn:hover{
    color: #fff;
    background-color: #919191;
    text-decoration: none;
}

.timedropdown{
    width: 100px;
}

.amdropdown{
    width: 60px;
    margin-left: 10px;
    float:right;
}

.agenda-addbtn{
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #9A79BD;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 3px 0px #6B5285;
    -moz-box-shadow: 0 3px 0px #6B5285;
    box-shadow: 0 3px 0px #6B5285;
}

.agenda-addbtn:hover{
    color: #fff;
    background-color: #8568A3;
    text-decoration: none;
}

.agendalabel{
    color: #363636;
    font-size: 12px;
    font-weight: 700;
}

.agendalist{
    background-color: #F7F7F7;
    border-bottom: 1px solid #DBDBDB;
    padding:10px;
}

#pinpoints_info {
    height: 50%;
    overflow: scroll;
    overflow-x: hidden;
}



#gomembers{
    width: 100px;
    float:left;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    background-color: #FADD00;
    color: #fff;
    font-weight: 700;
    border-radius: 0px 5px 5px 0px;
    -webkit-box-shadow: 0 3px 0px #D4BB00;
    -moz-box-shadow: 0 3px 0px #D4BB00;
    box-shadow: 0 3px 0px #D4BB00;
    cursor: pointer;
}

#gomembers:hover{
    background-color: #F2D600;
    text-decoration: none;
    color: #fff;
}

#gochat{
    width: 100px;
    float:left;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    background-color: #FFBB00;
    color: #fff;
    font-weight: 700;
    border-radius: 5px 0px 0px 5px;
    -webkit-box-shadow: 0 3px 0px #E3A600;
    -moz-box-shadow: 0 3px 0px #E3A600;
    box-shadow: 0 3px 0px #E3A600;
    cursor: pointer;
}

#gochat:hover{
    background-color: #F5B400;
    text-decoration: none;
    color: #fff;
}

#new_cabal_form{
  display:block;
  margin: 0 auto;
  width: 600px;
  text-align: left;
}

.addmemberresponse{
    color:#326085;
}
