// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-dialog {
  background: white;
  border: 1px solid #e1e1e8; 
  border-radius: 4px;
  min-height: 300px;
  overflow: scroll;
  margin-bottom: 20px;
}

.chat-textarea {
  width: 80%;
  border: 1px solid #e1e1e8; 
  height: 80px;
}