.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 
 
/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #afdcf8;
    left: 20%;
    margin-left: -20px;
}
 
.cbp_tmtimeline > li {
    position: relative;
}
 
 
/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 10px 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 5px;
    position: relative;
    border-radius: 5px;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}
 
.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    font-size:1.3em;
    margin-top: 0px;
    padding: 0px 0px 8px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    line-height:100%;
    font-weight:700;
    color: #fff;
}
 
/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}
 
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}
 
/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 10px;
    height: 10px;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    left: 20%;
    top: 0;
    margin: 0 0 0 -22px;
}
 

